.room-settings-container{
    display: flex;
    align-items: center;
}

.room-settings{
    /* background-color: blue; */
    /* height: 60vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

label{
    display: flex;
    gap: 20px;
    /* align-items: flex-end; */
    justify-content: flex-end;
    align-items: center;
}

label input {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 18px;
}

label select {
    width: 150px;
    font-size: 18px;
    height: 40px;
}
.settings-button{
    padding: 10px;
    font-size: 18px;
    background-color: var(--main-color);
    border-radius: 10px;
    border: none;
    color:white;
    cursor: pointer;
}

.settings-button:hover{
    background-color: var(--secondary-color);
}



.settings-case{
    margin-left:calc(5rem + 15vw);
    /* overflow: scroll; */
    width: calc(100vw - (5rem + 15vw) );
    padding: 10px;
    margin-top: 0;
}


.selection{
    padding: 10px;
    border-radius: 5px;
}