.room-table-container{
    padding:50px;
    /* background:linear-gradient(#eee ,rgb(121, 121, 255) 30% , #eee ); */
    /* background-color: #eee; */
    margin-top:90px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

table td, table th {
    padding: 15px ;
    
}

th {
    text-align: left;
}

thead th {
    background-color: #181B3A;
    color:#fff;
}

  table tr:nth-child(even){background-color: #DBDFFD;}
  table tr:nth-child(odd){background-color: #fff;}

table tr:hover {
    background-color: #ddd;
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.room_name , .capacity{
    width:10px;
}

.eightToTen , .tenToTwelve ,.twelveToFourteen, .fourteenToSixteen{
    width:100vw;
}

