.home-container{
    /* height: 2000px; */
    color:#fff;
    font-family: "Poppins",sans-serif;
}
.wave{   
    /* width: 100%;
    padding-bottom: 100px;
    margin-top: 90px;
    aspect-ratio: 960/400;
    background-image: url("../../assets/svg/background.svg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 100%;
    padding-bottom: 200px;
    margin-top: 90px;
    aspect-ratio: 960/400;
    background-image: url("../../assets/svg/background.svg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wave img{
    margin-right: 10rem;
}
.wave-text {
    word-wrap:break-word;
    padding: 50px;
    margin-left: 15rem;
    max-width: 600px;
    padding: 20px;   
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: .2rem; 
    margin-bottom: 20px;
}


/* styling footer wave */

.home-footer{
    display: flex;
    flex-direction: column;
    
}

.footer-wave{
    /* width: 100%;
    aspect-ratio: 960/400;
    background-image: url("../../assets/svg/backwards-background.svg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    gap: 40px; */
    width: 100%;
    aspect-ratio: 960/400;
    background-image: url("../../assets/svg/backwards-background.svg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    gap: 40px;
    
}

.home-social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}


.home-icon{
    color: #FFF;
    font-size: 40px;
    cursor: pointer;
}

.home-icon:hover{
    color:var(--secondary-color);
}

/* home content styling  */

.home-content-container{
    padding:130px 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 280px;

}

/* table description styling  */

.table-descrp-container{
    color:black;
    display: flex;
    align-items: center;
    gap: 50px;
}

.descrp-text{
    max-width: 60%;
    font-size: 1.5rem;
}

.table-pic{
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

.table-pic img{
    width:100%;
    border-radius: 20px;
}

.blue {
    color:var(--secondary-color);
}


/* footer card styling  */

.footer-card-container{
    /* background-color: blue; */
    
    
}

.footer-card-container img{
    max-width: 300px;
    max-height:300px ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cards{
    display: flex;
    align-items:flex-end; 
    justify-content: center;
    gap: 20vw;
    margin-bottom: 20px;
}
.footer-link {
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1.5rem;
    border: 5px solid var(--secondary-color);
    border-radius: 15px;
    /* margin-top: 20px; */
}

