table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;

  float: right; /* add this line to align the table to the right */
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0704aa;
  color: white;
}
.main-container {
  height: calc(1vh-110px);
  padding-top: 110px;
  position: absolute;
  width: 100%;
}
